@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@400;700&family=IBM+Plex+Mono:wght@400;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-barlow-condensed: "Barlow Condensed", sans-serif;
  --font-ibm-plex: "IBM Plex Sans", sans-serif;
}

body {
  @apply bg-zinc-950 text-white antialiased;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}